<section id="about" class="h-full" transition:animate="slide">
  <div class="w-full pt-20">
    <div class="h-full">
      <div
        class="flex items-center gap-2 px-3 py-2 border-t-1 border-t-[#545454]/60 bg-[#37393d]"
      >
        <div class="flex mx-auto gap-2 select-none -translate-x-7.5">
          <div class="flex flex-col text-xs">
            <i class="bx bx-images text-base"></i>
          </div>
          <div class="flex flex-col text-xs">
            <span class="align-text">about me</span>
          </div>
        </div>
      </div>

      <div class="bg-[#222428] h-20">
        
      </div>
    </div>
  </div>
</section>
