---
import "../styles/global.css";

import { SEO } from 'astro-seo'
const { title, seoTitle, seoDesc } = Astro.props
---

<head lang="en">
    <SEO title={ seoTitle } description={ seoDesc } />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</head>