---
import Navbar from "../components/Navbar.astro"
import MainHead from "./MainHead.astro"

const { title, seoTitle, seoDesc } = Astro.props
---

<html>
    <MainHead title={ title } seoTitle={ seoTitle } seoDesc={ seoDesc }/>
    <body class="bg-[#29303B] text-slate-300 overflow-hidden">
        <header>
            <Navbar/>
        </header>
        <div class="min-h-10"></div>
        <div class="px-0 md:px-21 h-screen overflow-y-scroll custom-scrollbar md:ml-21 ml-0"> 
            <slot/>
        </div>
    </body>
</html>

<script is:inline>
    const sections = ["home", "about", "projects"];
  
    const observerOptions = {
      root: null,
      rootMargin: "0px",
      threshold: 0.6
    };
  
    const observer = new IntersectionObserver((entries) => {
      for (const entry of entries) {
        if (entry.isIntersecting) {
          const id = entry.target.id;
          if (id && location.hash !== `#${id}`) {
            history.replaceState(null, "", `#${id}`);
            document.getElementById("terminal-path").value = id;
          }
        }
      }
    }, observerOptions);
  
    window.addEventListener("DOMContentLoaded", () => {
      sections.forEach((id) => {
        const el = document.getElementById(id);
        if (el) observer.observe(el);
      });
    });
  </script>
  